// COLORS
$white-color: #f4f4f4;
$basic-color: #ececec;
$basicDarker-color: #e3d6ce;
$accentDarker-color: #a5bec6;
$accent-color: #cbc75b;
$gray-color: #d1d1d1;
$darkgray-color: #757575;
$dark-color: #191919;
$basicDarker-filter: invert(95%) sepia(8%) saturate(513%) hue-rotate(323deg)
  brightness(92%) contrast(92%);
$darkgray-filter: invert(32%) sepia(1%) saturate(0%) hue-rotate(73deg)
  brightness(96%) contrast(91%);

// FONTS
$header-font-family: "Yeseva One", serif;
$text-font-family: "Roboto", sans-serif;

// TEXT
@mixin logo() {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 16px;
  letter-spacing: 0.16em;
  color: $dark-color;
  text-transform: uppercase;
  &:hover {
    cursor: pointer;
  }
}
@mixin headline1($text-align, $color) {
  font-family: "Yeseva One";
  font-size: 76px;
  text-align: $text-align;
  color: $color;
  font-weight: 400;
}
@mixin headline2($text-align) {
  font-family: "Yeseva One";
  font-size: 54px;
  text-align: $text-align;
  color: $dark-color;
  font-weight: 400;
}
@mixin headline3($text-align) {
  font-family: "Yeseva One";
  font-size: 43px;
  text-align: $text-align;
  color: $dark-color;
}
@mixin headline4($text-align) {
  font-family: "Roboto";
  font-size: 31px;
  text-align: $text-align;
  color: $dark-color;
}
@mixin headline5($text-align) {
  font-family: "Roboto";
  font-size: 22px;
  text-align: $text-align;
  color: $dark-color;
}
@mixin headline6($text-align) {
  font-family: "Roboto";
  font-size: 18px;
  text-align: $text-align;
  color: $dark-color;
}
@mixin body1($text-align, $line-height, $color) {
  font-family: "Roboto";
  font-size: 16px;
  text-align: $text-align;
  color: $color;
  line-height: $line-height;
  font-weight: 400;
}
@mixin body2($text-align) {
  font-family: "Roboto";
  font-size: 14px;
  text-align: $text-align;
  color: $dark-color;
  font-weight: 400;
}
@mixin subtitle1($text-align) {
  font-family: "Roboto";
  font-size: 14px;
  text-align: $text-align;
  color: $dark-color;
}
@mixin subtitle2($text-align) {
  font-family: "Roboto";
  font-size: 13px;
  text-align: $text-align;
  color: $dark-color;
}
@mixin button($text-align) {
  font-family: "Roboto";
  font-size: 14px;
  weight: 500;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  text-align: $text-align;
  color: $dark-color;
}
@mixin overline($text-align) {
  font-family: "Roboto";
  font-size: 10px;
  text-align: $text-align;
  color: $dark-color;
}
@mixin caption($text-align) {
  font-family: "Roboto";
  font-size: 12px;
  text-align: $text-align;
  color: $dark-color;
}
// BUTTONS

@mixin filterButton() {
  @include button(center);
  padding: 0px 10px 0px 10px;
  margin: 0px 5px 0px 5px;
  white-space: nowrap;
  width: 100%;
  height: 34px;
  background: $accentDarker-color;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  border: none;
  font-family: $text-font-family;
  font-size: 1.5vh;
  font-weight: 500;
  color: $dark-color;
  &:hover {
    background: $accent-color;
    cursor: pointer;
    color: $dark-color;
    border: none;
  }
}
@mixin grayButton() {
  @include button(center);
  background: $gray-color;
  border-radius: 5px;
  width: 125px;
  height: 36px;
  border: none;
}
@mixin basicButton() {
  margin: 0px 0px 0px 0px;
  background: $accentDarker-color;
  border-radius: 5px;
  width: 180px;
  height: 42px;
  border: none;
  color: $dark-color;
  &:hover {
    background-color: $accent-color;
  }
}
@mixin roundButton() {
  background: $basicDarker-color;
  border-radius: 50%;
  min-width: 50px;
  width: 50px;
  height: 50px;
  border: none;
  text-transform: inherit;
  padding: 0px;
  filter: $darkgray-filter;
  &:hover {
    background-color: $accent-color;
    cursor: pointer;
  }
}

// MAIN CONTAINER STYLES
@mixin containerStyle($padding, $flex-direction) {
  padding: $padding;
  margin: 0px 20% 0px 20%;
  display: flex;
  flex-direction: $flex-direction;
}
@mixin bacgroundContainer() {
  padding-top: 50px;
  background-color: $white-color;
  height: 300px;
  width: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
}

// FORM INPUT
@mixin textField() {
  background-color: $white-color;
  border-radius: 30px;
  width: 100%;
  margin-bottom: 25px;
}
