// COLORS
$basic-color: #F4F4F4;
$basicDarker-color: #E4E2DF;
$accentDarker-color: #EE726B;
$accent-color:  #FCB6A0;
$dark-color: #545454;
$black-color: #232323;
$accentDarker-filter: invert(53%) sepia(8%) saturate(3998%) hue-rotate(314deg) brightness(110%) contrast(87%);

// FONTS
$header-font-family: 'Yeseva One', serif;
$text-font-family: "Inter", sans-serif;

