@import '../../variables/variables.scss';
.ratingStar{
    // width:45px;
    // height:45px;
    // border-radius: 50%;
    // background: $gray-color;
    display: flex;
    justify-content: center;
    img{
        height:15px;
        padding: 3px 10px 0px 0px;
    }
    text{
    
        margin: 0px;
    }
}