@import '../../variables/variables.scss';
.home{
    @include containerStyle(50px 0px 50px 0px, column)
}
.backgroundContainer{
    padding-top:50px;
    background-color: $dark-color;
    height: 720px;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
}
.searchSection{
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
}
.textSection{
    z-index: 2;
    padding:250px 0px 20px 30%;
    h1{
        @include headline1(right,$basic-color );
        margin:30px 0px 30px 0px
    }
    article{
        @include body1(right, 32px, $basic-color);
    }
}
.filtrSection{
    padding: 20px 0px 70px 0px;
    display: flex;
    justify-content: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.booksSection{
    z-index: 2;
    display: flex;
    justify-content: space-between;
    // display: table-row-group;
    flex-wrap: wrap;
    width:100%;
    height:100%;
}
.radio-toolbar {
    margin: 10px 0px 10px 0px;
}
.radio-toolbar input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
  }
  .radio-toolbar label {
    @include filterButton();
        // z-index: 2;
}
.radio-toolbar input[type="radio"]:checked + label {
    background-color:$accent-color;
    font-weight: bold;
}
    .radio-toolbar label:hover {
        background: $basicDarker-color;
        cursor: pointer;
        color: $dark-color;
        border: none;
      }