@import "../../variables/variables.scss";

.bookCrossCard {
  margin: 12px 0px 12px 0px;
  border-radius: 5px;
  width: 30%;
  z-index: 2;
  flex-direction: column;
  &:hover {
    cursor: pointer;
  }
}
.bookCoverSection {
  img {
    object-fit: cover;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    min-height: 50vh;
    max-height: 50vh;
    width: 100%;
    height: auto;
  }
}
.bookDesSection {
  h6 {
    @include uniText(left, $dark-color);
    @include body2();
  }
}
.titleSec {
  height: 70%;
  justify-content: flex-end;
  h3 {
    @include  uniHeader23(left, $dark-color);
    @include headline3();
    height: 55px;
  }
}
.buttonsSec {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  button {
    @include fullWidthButton();
  }
}
.authorRatingSection {
  display: flex;
  justify-content: space-between;
  h4 {
    @include uniHeader456(left);
    @include headline4();
    width: 60%;
    height: 40px;
    margin: 0px 0px 25px 0px;
  }
}
.ratingSection {
  display: flex;
  justify-content: end;
}

//  - 1400px - 1700px
@media only screen and (max-width: 1700px) {
  .bookDesSection {
    h6 {
      @include body2_1700();
    }
  }
  .titleSec {
    h3 {
      @include headline3_1700();
    }
  }
  .authorRatingSection {
    h4 {
      @include headline4_1700();
    }
  }
}

// - 1100px - 1400px
@media only screen and (max-width: 1400px) {
  .bookCoverSection {
    img {
      min-height: 57vh;
      max-height: 57vh;
    }
  }
  .bookCrossCard {
    margin: 12px 0px 12px 0px;
    width: 47%;  
  }
  .bookDesSection {
    h6 {
      @include body2_1400();
    }
  }
  .titleSec {
    h3 {
      @include headline3_1400();
    }
  }
  .authorRatingSection {
    h4 {
      @include headline4_1400();
    }
  }
}

// - 600px - 1100px
@media only screen and (max-width: 1100px) {
  .bookCrossCard {
    width: 100%;
  }
  .bookCoverSection {
    img {
    width: 100%;
    object-fit:contain;
    min-height: fit-content;
    max-height: fit-content;
    }}
    .bookDesSection {
      h6 {
        @include body2_1100();
      }
    }
    .titleSec {
      h3 {
        @include headline3_1100();
      }
    }
    .authorRatingSection {
      h4 {
        @include headline4_1100();
      }
    }
}

// - 450px - 600px
@media only screen and (max-width: 600px) {
  .bookDesSection {
    h6 {
      @include body2_600();
    }
  }
  .titleSec {
    h3 {
      @include headline3_600();
    }
  }
  .authorRatingSection {
    h4 {
      @include headline4_600();
    }
  }
}

// - 0px - 450px
@media only screen and (max-width: 450px) {
  .bookDesSection {
    h6 {
      @include body2_450();
    }
  }
  .titleSec {
    h3 {
      @include headline3_450();
    }
  }
  .authorRatingSection {
    h4 {
      @include headline4_450();
    }
  }
}