@import "../../variables/variables.scss";

.registration {
  @include containerStyle(50px 0px 100px 0px, row);
  background-color: $basic-color;
  z-index: 2;
}
.regContainer {
  width: 50%;
  z-index: 2;
}
.bacgroundContainer {
  @include bacgroundContainer();
}
.registrationFormSection {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 275px 0px 0px 100px;
  h6 {
    @include body1(center, 32px, $dark-color);
    margin: 20px 0px 20px 0px;
  }
}
.checkboxSection {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: 30px;
}
.imageSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 100px 0px 0px;
  h1 {
    @include headline3(center);
    margin:30px 0px 30px 0px;
  }
  article {
    @include headline5(center);
    margin:0px;
  }
  img {
    width: 100%;
    max-width: 500px;
  }
}
//   POPRAWIĆ BUTTONY ZDUBLOWANY KOD
.input {
  width: 100%;
}
.MuiInputBase-root {
  @include textField();
}
// CHECKBOX STYLE
.MuiIconButton-label {
  color: grey;
}
.MuiTouchRipple-root {
  color: rgb(0, 0, 0);
  &:hover {
    color: rgb(0, 0, 0);
  }
}
.MuiFormControlLabel-label {
  @include caption(left,$darkgray-color);
}
// BUTTON
.basicButton {
  @include basicButton();
}
.basicButton-label {
  @include button(center);
}

.googleButton {
  background-color: $basicDarker-color;
  width: 100%;
  border-radius: 25px;
  height: 50px;
  &:hover{
    background-color: $accent-color;
  
  }
  img {
    height: 30px;
    padding-right: 50px;
    filter: $darkgray-filter;
  }
}
.googleButton-label {
  @include headline6(center);
  color: $darkgray-color;
  text-transform: initial;
}
