@import '../../variables/variables.scss';

.registration{
    @include containerStyle(100px 0px 100px 0px , row);
    background-color: $basic-color;
    z-index: 2;
}
.regContainer{
    width:50%;
    z-index: 2;
}
.bacgroundContainer{
    padding-top:50px;
    background-color: $white-color;
    height: 300px;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
}
.formSection{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 228px 0px 0px 80px;
    h6{
        @include body1(center, 32px,$dark-color);
        margin: 20px 0px 20px 0px;
    }
    // button{
    //     @include basicButton();
    // }
}
.checkboxSection{
  width:100%;
  display: flex;
  align-items: flex-start;
}
.imageSection{
  display: flex;
  flex-direction: column;
  align-items: center;
    padding: 0px 80px 0px 0px;
    h1{
      @include headline3(center)
    }
    article{
        @include headline5(center)
      }
      img{
          width:100%;
          max-width: 500px;
      }
}
//   POPRAWIĆ BUTTONY ZDUBLOWANY KOD
  .input{
      background-color: $white-color;
      border-radius: 24px;
      width: 100%;
      margin-bottom: 25px;
  }
  .MuiInputBase-root 
  {
    background-color: $white-color;
    border-radius: 24px;
    width: 100%;
}
// CHECKBOX STYLE
    .MuiIconButton-label {
        color:grey;
  }
  .MuiTouchRipple-root{
    color:rgb(0, 0, 0);
    &:hover{
        color:rgb(0, 0, 0);
    }
  }
  .MuiFormControlLabel-label{
      @include caption(left)
  }
// BUTTON
  .basicButton{
    @include basicButton();
  }
  .basicButton-label{
    @include button(center);
  }

  .button{
  @include roundButton();
  img {
    height: 30px;
    padding-right: 50px;
    filter: $darkgray-filter;
  }
  }
  .button-label {
    color:$darkgray-color;
  }